.single-page {
    margin-top: 16rem;
}
.single-page section.project, 
.single-page section.contact {
    padding-top: 10rem;
}

@media screen and (max-width: 470px) {
    .single-page {
        margin-top: 5rem;
    }   
}

@media screen and (max-width: 768px) {
    .single-page section.contact {
        padding-top: 15rem;
    }
}