.adminpanelcontainer {
    display: grid;
    place-items: center;
    transition: 0.4s;
}

.adminpanelcontainer h2 {
    font-size: 3.5rem;
}

.admin-container-inputbox {
    gap: 1.5rem 3rem;
}

.adminpanel-form {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); */
    padding: 3rem 6rem;
    width: 500px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
}

.adminpanel-form input {
    width: 100%;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
}

.adminpanelcontainer .btncontiner {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.adminpanelcontainer .adminpanel-form button,
.adminpanelcontainer .feedbackback button,
.adminpanelcontainer button.logout {
    margin: 2rem 0;
    padding: 1rem 3rem;
    background: rgba(255, 255, 255, 0.2);
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: .15rem;
    text-transform: capitalize;
    border-radius: 1rem;
    transition: 0.4s;
}

.adminpanelcontainer button.logout {
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}

.adminpanelcontainer button:hover, 
.adminpanelcontainer button.logout:hover{
    background: #fff;
    color: #000;
}

.adminpanelcontainer .links {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) ) ;
    width: 90%;
}
.adminpanelcontainer .links a {
    background: rgba(255, 255, 255, 0.25);
    font-size: 1.6rem;
    padding: 2rem;
    margin: 1rem;
    text-align: center;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    font-weight: 600;
}
.adminpanelcontainer .links a svg {
    font-size: 2rem;
}