.pre-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    min-height: 100vh;
}
.loading-text {
    text-align: center;
}
.loading-text p {
    display: inline-block;
    text-align: center;
    font-size: 4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    transform: scale(.5);
    opacity: 0.3;
    color: #00ffc3;
    letter-spacing: 2.5rem;
    transition: .4s;
    animation: loading .6s linear infinite alternate ;
}
.loading-text p:hover {
    transform: scale(.7);
    cursor: url("../../assets/img/cursor-not-allowed.png"), auto;
}

@keyframes loading {
    to {
        opacity: 1;
    }
}