.all-timeline-details {
    margin-top: 5rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) ) ;
    width: 80%;
}

.details {
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    /* padding-bottom: 5rem; */
}

.title {
    font-size: 1.4rem;
}
.button {
    display: flex;
    justify-content: space-between;
}

.button button {
    background: rgb(255, 52, 52);
    /* position: absolute; */
    /* width: auto; */
    padding: 0.7rem;
    font-size: 1.6rem;
    border-radius: .7rem;
    color: #fff;
}
.button button:nth-child(2) {
    background: rgb(0, 255, 0);
}