/************ Custom Font ************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/************ Default Css ************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 7.5rem;
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	font-weight: 400;
	overflow-x: hidden;
	position: relative;
	background-color: #121212 !important;
	color: #fff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	line-height: normal;
}

p,
a,
li,
button,
ul {
	margin: 0;
	padding: 0;
	line-height: normal;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

button {
	border: 0;
	background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* width */
::-webkit-scrollbar {
	width: 0px;
	/* border-radius: 5px; */
}

/* Track 
/* ::-webkit-scrollbar-track {
	background: linear-gradient(45deg, #AA367C -5.91%, #2f9eff 111.58%);
}

/* Handle 
::-webkit-scrollbar-thumb {
	background: linear-gradient(45deg, rgb(232, 255, 55) -5.91%, rgb(48, 255, 207) 111.58%);
	border-radius: 5px;
}

/* Handle on hover 
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(45deg, rgb(232, 255, 55) 111.58%, rgb(48, 255, 207) -5.91%);
} */

/* toastify css */
.Toastify__toast-theme--colored.Toastify__toast--success {
	/* background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%) !important; */
	background: linear-gradient(90.21deg, rgba(74, 47, 189, 0.65) -5.91%, rgba(170, 54, 124, 0.65) 111.58%) !important;

}

.Toastify__toast-theme--colored.Toastify__toast--warning {
	background: linear-gradient(90deg, rgba(243, 255, 123, 0.65) 0%, rgba(251, 255, 78, 0.65) 35%, rgba(246, 255, 87, 0.65) 100%) !important;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
	background: linear-gradient(90deg, rgba(255, 123, 123, 0.65) 0%, rgba(255, 78, 78, 0.65) 35%, rgba(255, 100, 87, 0.65) 100%) !important;
}

.Toastify__progress-bar-theme--colored {
	background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%) !important;
}

.Toastify__close-button,
.Toastify__toast-theme--colored.Toastify__toast--error,
.Toastify__toast-theme--colored.Toastify__toast--warning {
	color: #000 !important;
	font-weight: 500;
}

.App div.progress-bar111 {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 8px;
	/* background: #32CD32; */
	background: linear-gradient(90.21deg, #4A2FBD -5.91%, #AA367C 111.58%);
	border-radius: 100px;
	transform-origin: 0%;
	z-index: 10000;
	/* animation: animateLine 1s linear infinite alternate; */
}

@keyframes animateLine {
	0% {
		filter: hue-rotate(0);
	}

	100% {
		filter: hue-rotate(360deg);
	}
}


/************ Navbar Css ************/
nav.navbar {
	padding: 1rem 0;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999;
	transition: 0.32s ease-in-out;
}

nav svg {
	transform: scale(2.5);
}

nav .textstyle {
	font-weight: 700;
	font-size: 4rem;
	margin-top: 1rem;
}

nav.navbar.scrolled {
	background-color: #121212;
}

nav.navbar .show {
	background-color: #121212;
}

nav.navbar button.collapsed {
	padding: 0.2rem 0;
}

.Typewriter__wrapper,
.Typewriter__cursor {
	color: rgb(147, 88, 215);
}

nav.navbar a.navbar-brand {
	width: auto;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
	font-weight: 400;
	color: #fff !important;
	letter-spacing: 0.8px;
	padding: 0 2.5rem;
	font-size: 1.8rem;
	opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
	opacity: 1;
}

nav.navbar .navbar-nav a.nav-link.navbar-link.active {
	font-weight: 800;
}

span.navbar-text {
	display: flex;
	align-items: center;
}

.social-icon {
	display: inline-block;
	margin-left: 1.4rem;
}

.social-icon a {
	width: 4.2rem;
	height: 4.2rem;
	background: rgba(217, 217, 217, 0.1);
	display: inline-flex;
	border-radius: 50%;
	margin-right: 6px;
	align-items: center;
	justify-content: center;
	line-height: 1;
	position: relative;
	z-index: 2;
	border: 2px solid var(--br-clr);
	margin: 0.5rem;
}

.social-icon a::before {
	content: "";
	width: 4.2rem;
	height: 4.2rem;
	position: absolute;
	background-color: var(--br-clr);
	box-shadow: 0 0 10px var(--br-clr),
		0 0 30px var(--br-clr),
		0 0 50px var(--br-clr);
	border-radius: 50%;
	transform: scale(0);
	transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
	transform: scale(1);
}

.social-icon a img {
	width: 40%;
	z-index: 2;
	transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-light .navbar-brand {
	display: flex;
}

nav.navbar .collapsed .navbar-toggler-icon {
	background-color: #fff;
}



/************ Banner Css ************/
.banner {
	margin-top: 0;
	padding: 15rem 0 10rem 0;
	background-image: url('./assets/img/banner-bg.png');
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}

.banner .tagline {
	font-weight: 700;
	letter-spacing: 0.8px;
	padding: 0.8rem 1rem;
	background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
	border: 1px solid rgba(255, 255, 255, 0.5);
	font-size: 2rem;
	margin-bottom: 2.6rem;
	display: inline-block;
}

.banner h1 {
	font-size: 6.5rem;
	font-weight: 700;
	letter-spacing: 0.8px;
	line-height: 1;
	margin-bottom: 3rem;
	display: block;
}

.banner p {
	color: #B8B8B8;
	font-size: 1.8rem;
	letter-spacing: 0.8px;
	line-height: 3rem;
	width: 96%;
}

.banner p span {
	font-weight: 900;
	font-size: 3rem;
	background: linear-gradient(45deg, #AA367C -5.91%, #2f9eff 111.58%);
	/* background: -webkit-linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%); */
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.banner .nav-link,
.aboutme .nav-link {
	padding: 0.5rem 0;
}

.banner .nav-link {
	margin: 5rem 0 0 0;
}

.banner button,
.aboutme button {
	color: #fff;
	font-weight: 700;
	font-size: 2rem;
	/* margin: 6rem 0; */
	letter-spacing: 0.8px;
	display: flex;
	align-items: center;
}

.lrbtn {
	background-color: #000;
	/* width: ; */
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}

.hiddencls {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	padding: 3rem 4rem;
}

.hiddencls button {
	/* min-width: 29.5rem; */
	font-size: 1.8rem;
	flex: 1 1 20rem;
}

.banner button svg,
.aboutme button svg {
	font-size: 2.5rem;
	margin-left: 1rem;
	transition: 0.3s ease-in-out;
	line-height: 1;
}

.banner button:hover svg,
.aboutme button:hover svg {
	margin-left: 2.5rem;
}

.banner img {
	animation: updown 3s linear infinite;
}

@keyframes updown {
	0% {
		transform: translateY(-20px);
	}

	50% {
		transform: translateY(20px);
	}

	100% {
		transform: translateY(-20px);
	}
}

.txt-rotate>.wrap {
	border-right: 0.8rem solid #666;
}

/************ Skills Css ************/
.skill {
	padding: 0 0 5rem 0;
	position: relative;
}

.skill-bx {
	background: #151515;
	border-radius: 6.4rem;
	text-align: center;
	padding: 6rem 5rem;
	margin-top: 6rem;
}

.skill h2 {
	font-size: 4.5rem;
	font-weight: 700;
}

.skill p {
	color: #B8B8B8;
	font-size: 1.8rem;
	letter-spacing: 0.8px;
	line-height: 3rem;
	margin: 1.4rem 0 7.5rem 0;
}

.skill-slider {
	width: 80%;
	margin: 0 auto;
	position: relative;
}

.skill-slider .item img {
	width: 50%;
	margin: 0 auto 1.5rem auto;
}

.skill-slider .item h5 {
	font-weight: 600;
	font-size: 2rem;
}

.background-image-left {
	top: -50%;
	position: absolute;
	bottom: 0;
	width: 40%;
	z-index: -4;
}

.background-image-left.secimg {
	right: 0%;
	top: -80%;
	transform: rotateY(180deg);
}

.item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	user-select: none;
}

.item tspan {
	color: white !important;
}

/************ Projects Css ************/
.project {
	padding: 8rem 0;
	position: relative;
	background-color: black;
	z-index: 0;
}

.project h2 {
	font-size: 4.5rem;
	font-weight: 700;
	text-align: center;
}

.project p,
.aboutme p {
	color: #B8B8B8;
	font-size: 1.8rem;
	letter-spacing: 0.8px;
	line-height: 3rem;
	margin: 1.4rem auto 3rem auto;
	text-align: center;
	width: 56%;
}

.project .nav.nav-pills {
	width: 72%;
	margin: 0 auto;
	border-radius: 5rem;
	background-color: rgb(255 255 255 / 10%);
	overflow: hidden;
}

.project .nav.nav-pills .nav-item {
	width: 33.33333%;
	cursor: pointer;
}

.project .nav.nav-pills .nav-link {
	background-color: transparent;
	border-radius: 0;
	padding: 1.7rem 0;
	color: #fff;
	width: 100%;
	font-size: 1.7rem;
	letter-spacing: 0.8px;
	font-weight: 500;
	position: relative;
	transition: 0.3s ease-in-out;
	text-align: center;
	z-index: 1;
	/* padding: 0 5px; */
	padding-left: 5px;
	padding-right: 5px;
}

.project .nav.nav-pills .nav-link::before {
	content: "";
	position: absolute;
	width: 0;
	height: 100%;
	background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
	top: 0;
	left: 0;
	z-index: -1;
	transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before {
	width: 100% !important;
}

.project .nav.nav-pills .nav-link.active {
	border: 1px solid rgba(255, 255, 255, 1);
}

.project .nav.nav-pills {
	margin-bottom: 5rem !important;
}

.nav-link#projects-tabs-tab-first {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 5.5rem 0px 0px 5.5rem;
}

.nav-link#projects-tabs-tab-second {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-link#projects-tabs-tab-third {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 0 5.5rem 5.5rem 0;
}

.proj-imgbx {
	position: relative;
	border-radius: 3rem;
	overflow: hidden;
	margin-bottom: 3rem;
	cursor: pointer;
	border: double 3px transparent;
	border-radius: 3rem;
	background-image: linear-gradient(white, white),
		linear-gradient(30deg, #AA367C, #4A2FBD);
	background-origin: border-box;
	background-clip: content-box, border-box;
}

.proj-imgbx::before {
	content: "";
	background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
	opacity: 0.85;
	position: absolute;
	width: 100%;
	height: 0;
	transition: 0.4s ease-in-out;
	z-index: 1;
}

.proj-imgbx:hover::before {
	transition: all 0 ease-in-out;
	height: 100%;
}

.proj-imgbx img.projectImg {
	transition: all 0.4s ease-in-out;
	z-index: -1;
}

.proj-imgbx:hover img.projectImg {
	transform: scale(1.1);
}

.proj-txtx {
	position: absolute;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.5s ease-in-out;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 11;
}

.proj-txtx img.projectGit,
.proj-txtx a {
	position: absolute;
	right: 3rem;
	bottom: 3rem;
	display: inline-block;
	transition: 0.5s ease-in-out;
	opacity: 0;
	z-index: 11;
	height: 3rem;
	width: 3rem;
}

.proj-txtx a {
	transition: 0.2s;
}

.proj-txtx img.projectGit {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.proj-txtx .backgit {
	right: 8rem;
}

.proj-txtx a:hover {
	transform: scale(1.2);
}

.proj-txtx a:active {
	transform: scale(0.8);
}

.proj-txtx .demo {
	left: 3rem;
}

.proj-imgbx:hover .proj-txtx {
	top: 50%;
	opacity: 1;
}

.proj-imgbx:hover .proj-txtx img.projectGit,
.proj-txtx a {
	opacity: 1;
}

.proj-txtx h4 {
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: 0.8px;
	line-height: 3rem;
}

.proj-txtx span {
	font-style: italic;
	font-weight: 400;
	font-size: 1.5rem;
	letter-spacing: 0.8px;
}

.background-image-right {
	top: 20%;
	position: absolute;
	bottom: 0;
	width: 35%;
	right: 0;
	z-index: -4;
}

/************ contact Css ************/
.contact {
	background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
	padding: 6rem 0 20rem 0;
}

.contact img {
	width: 92%;
}

.contact h2 {
	font-size: 4.5rem;
	font-weight: 700;
	margin-bottom: 3rem;
}

.contact form input,
.contact form textarea {
	width: 100%;
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 2rem;
	color: #fff;
	margin: 0 0 0.8rem 0;
	padding: 1.8rem 2.6rem;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.8px;
	transition: 0.3s ease-in-out;
}

.contact form input:focus,
.contact form textarea:focus {
	background: rgba(255, 255, 255, 1);
	color: #121212;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
	font-size: 1.6rem;
	font-weight: 400;
	color: #fff;
}

.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
	color: #121212;
	opacity: 0.8;
}

.contact form button {
	font-weight: 700;
	color: #000;
	background-color: #fff;
	padding: 1.4rem 4.8rem;
	font-size: 1.8rem;
	margin-top: 2.5rem;
	border-radius: 0;
	position: relative;
	transition: 0.3s ease-in-out;
}

.contact form button span {
	z-index: 1;
	position: relative;
}

.contact form button:hover {
	color: #fff;
}

.contact form button::before {
	content: "";
	background: #121212;
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	transition: 0.3s ease-in-out;
}

.contact form button:hover::before {
	width: 100%;
}

/************ Footer Css ************/
.footer {
	padding: 5rem 0 5rem 0;
	background-image: url('./assets/img/footer-bg.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.footer .logo,
.navbar .logo {
	font-size: 4rem;
	font-weight: 800;
	color: #fff;
}

.aboutme-bx {
	background: #FFFFFF;
	border-radius: 5.5rem;
	color: #121212;
	padding: 8.5rem 12.5rem;
	margin-bottom: 8rem;
	margin-top: -12.2rem;
}

.aboutme-bx h3 {
	font-weight: 700;
	letter-spacing: 0.5px;
	line-height: 3rem;
}


.footer img {
	width: 26%;
}

.footer p {
	font-weight: 400;
	font-size: 1.4rem;
	color: #B8B8B8;
	letter-spacing: 0.8px;
	margin-top: 2rem
}

/* aboutme section */
.aboutme h2 {
	font-size: 4.5rem;
	font-weight: 700;
	margin-bottom: 3rem;
	text-align: center;
}

.aboutme p {
	color: #444;
	font-size: 1.8rem;
}

.aboutme .piccont {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.aboutme .aboutme-bx {
	padding: 8.5rem 10rem;
	/* margin-top: -5rem; */
}

.aboutme .background-image-left {
	position: absolute;
	right: 0;
	width: 50%;

}


.aboutme img.imgabt {
	width: 100%;
	height: 100%;
	/* border-radius: 50%; */
	border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
	animation: waterwave 3s linear infinite;
}

@keyframes waterwave {

	0%,
	100% {
		border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
	}

	50% {
		border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
	}
}

.aboutme .imgbx {
	position: relative;
	width: 35rem;
	height: 35rem;
}

.aboutme .name h3 {
	margin-bottom: 1rem;
	/* font-weight: 600; */
	font-size: 2.3rem;
	color: #333;
	text-align: left;
}

.aboutme .abtcont {
	display: grid;
	grid-template-columns: 1fr;
}

.aboutme .abtcont .abtmerow {
	width: 100%;
}

.aboutme .abtmerow {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.aboutme .abtmerow .pinfo {
	flex: 1 1 55rem;
	padding: 3rem 1rem;
}

.aboutme .abtmerow .pinfo .boxcont {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
}

.aboutme .abtmerow .pinfo .boxcont .box {
	padding: 0rem 1rem;
}

.aboutme .abtmerow .pinfo .boxcont .box h3 {
	font-size: 2.3rem;
	color: #333;
	padding: 2rem 0;
}

.aboutme .abtmerow .pinfo .boxcont .box h3 span {
	color: #777;
	font-size: 2rem;
}

.aboutme .lang {
	text-align: center;
	font-size: 2rem;
}

.aboutme .boxCont {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.aboutme .boxCont .box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex: 1 1 110px;
}

.aboutme img.img {
	width: 3rem;
	height: 3rem;
	border-radius: 0;
	margin-right: 0.6rem;

}

.aboutme button {
	color: #000;
	width: 28.5rem;
	background-color: #fff;
	border: 3px solid #000;
	padding: 2rem 4rem;
	font-weight: 700;
	position: relative;
	/* transition: 0.3s ease-in-out; */
}

.aboutme .mtopsome {
	margin: 15px;
}

.aboutme button svg {
	transition: 0.3s ease-in-out;
}

.aboutme button span {
	z-index: 1;
	/* width: 100%; */
}

.aboutme .hiddencls button span {
	width: 100%;
}

.aboutme button::before {
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	background-color: black;
	left: 0;
	top: 0;
	z-index: 0;
	transition: 0.3s ease-in-out;
}

.aboutme button.active {
	width: 100%;
	background-color: black;
	color: #fff;
}

.aboutme .lrbtn.active {
	width: 100%;
	border-radius: 2rem;
	padding: 0 2rem;
}

.aboutme button:hover {
	color: #fff;
}

.aboutme button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}



/* education and work */
.eduwork {
	margin-top: -9rem;
}

.eduwork .skill-bx {
	background: linear-gradient(45deg, #AA367C -5.91%, #2f9eff 111.58%);
	padding: 6rem 8rem 8rem 8rem;
}

.eduwork .rows {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
}

.eduwork .rows .cols {
	flex: 1 1 40rem;
	margin: 1rem;
	padding: 2rem 2rem 2rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.eduwork .rows .cols .title {
	font-size: 2.5rem;
	padding-bottom: 2rem;
}

.eduwork .rows .cols .box {
	padding-left: 2.5rem;
	border-left: 4px solid white;
	position: relative;
}

.eduwork .rows .cols .box:not(:last-child) {
	padding-bottom: 2rem;
}

.eduwork .rows .cols .box::before {
	content: '';
	position: absolute;
	top: 1.35rem;
	left: -1.2rem;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	background: white;
}

.eduwork .rows .cols .box .year {
	font-size: 1.8rem;
	padding: .5rem;
	color: #ccc;
	font-weight: 700;
	display: flex;
	align-items: center;
}

.eduwork .rows .cols .box .year img {
	padding: 0 .7rem 0 0;
	width: 4rem;
	height: 4rem;
}

.eduwork .rows .cols .box .year .bxName {
	color: #ddd;
}

.eduwork .rows .cols .box .year .bxDetail {
	color: #999;
}



.btmcnt {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	height: 17rem;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 4.5rem;
	padding-right: 8.25rem;
}

/* face scroll to top */
.eyeCont {
	position: relative;
	transition: 0.3s;
	/* z-index: 1; */
}

.eyeCont .arrow {
	position: absolute;
	color: #fff;
	font-weight: 900;
	transition: 0.5s;
	left: 50%;
	transform: translateX(-50%);
}

.eyeCont:hover .arrow {
	transform: translate(-12px, -25px);
}

.arrow svg {
	color: #ffcd00;
}

.eyeCont .face {
	position: relative;
	width: 6.5rem;
	height: 6.5rem;
	border-radius: 50%;
	background-color: #ffcd00;
	display: flex;
	justify-content: center;
	align-items: center;
}

.eyeCont .face::before {
	content: '';
	position: absolute;
	top: 4.3rem;
	width: 3.5rem;
	height: 1.4rem;
	background: #b57700;
	border-bottom-left-radius: 2.5rem;
	border-bottom-right-radius: 2.5rem;
	transition: 0.5s;
}

.eyeCont .face:hover::before {
	top: 4.5rem;
	height: 0.8rem;
	background: #b57700;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.eyeCont .face:hover{
	background: linear-gradient(180deg, #f44336, #f44336, #ffcd00);
}

.eyeCont .face:hover::before{
	background: #9d0b00;
}
.eyeCont .eyes {
	position: relative;
	top: -0.5rem;
	display: flex;
}

.eyeCont .eyes .eye {
	position: relative;
	width: 2rem;
	height: 2rem;
	display: block;
	background: #fff;
	border-radius: 50%;
	margin: 0 0.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.eyeCont .eyes .eye .pupil {
	width: 1rem;
	height: 1rem;
	background: #333;
	border-radius: 50%;
	transition: 0.5s;
}

.eyeCont .face:hover .eyes .eye .pupil {
	width: 1.5rem;
	height: 1.5rem;
}


/* menu */
.menuList {
	display: inline-block;
	z-index: 1000000000000;
}

.menuList .menus {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 14rem;
	height: 14rem;
	padding-left: 0;
}

.menuList .menus li {
	position: absolute;
	left: 0;
	opacity: 0;
	list-style: none;
	transition: 0.5s;
	transition-delay: calc(0.05s * var(--i));
	transform-origin: 7rem;
	transform: rotate(0deg) translateX(5rem);

}

.menuList .menus.active li {
	transform: rotate(calc(360deg / 6 * var(--i))) translateX(-2rem);
	opacity: 1;
}

.menuList .menus li a {
	color: var(--clr);
	border: 3px solid var(--clr);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
	height: 4rem;
	transform: rotate(calc(360deg / -6 * var(--i)));
	transition: 1s;
}

.menuList .menus li a:hover {
	position: relative;
	transition: 0s;
	background: var(--clr);
	color: #000;
	box-shadow: 0 0 10px var(--clr),
		0 0 30px var(--clr),
		0 0 50px var(--clr);
}

.menuList .menus li a:hover::after {
	content: '';
	position: absolute;
	top: -1rem;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.5s;
	height: 8px;
	width: 8px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid var(--clr);
}

.menuList .menus li a:hover::before {
	content: attr(data-title);
	position: absolute;
	top: -3.4rem;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--clr);
	width: auto;
	height: 2.5rem;
	font-weight: 500;
	color: #111;
	font-size: 1.5rem;
	padding: 0 0.5rem;
	white-space: nowrap;
	border: 1px solid var(--clr);
}

.menuList .menus li a svg {
	transform: scale(2);
}

.menuList .menus .togglers {
	position: absolute;
	width: 5rem;
	height: 5rem;
	/* background: radial-gradient(#AA367C, #4A2FBD);
	background: radial-gradient(#881798, #c23983); */
	background: #ffcd00;
	border: 3px solid #ffcd00;
	border-radius: 50%;
	color: #000;
	opacity: 0.9;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 10;
	font-size: 3rem;
	transition: transform 0.5s;
}

.menuList .menus.active .togglers {
	transform: rotate(315deg);
}





/* responsive code */
@media screen and (max-width: 1400px) {

	.aboutme img,
	.aboutme .imgbx {
		width: 20rem;
		height: 20rem;
	}

	.aboutme .abtmerow .pinfo .boxcont .box h3 {
		font-size: 2rem;
	}

	.aboutme .abtmerow .pinfo .boxcont .box h3 span {
		font-size: 1.7rem;
	}
}

@media screen and (max-width: 1200px) {
	.banner p span {
		font-size: 2.5rem;
	}

	.aboutme table tr td {
		padding: 1rem 3rem;
	}

	.aboutme .abtmerow .pinfo .boxcont .box h3 {
		font-size: 1.7rem;
	}

	.aboutme .abtmerow .pinfo .boxcont .box h3 span {
		font-size: 1.4rem;
	}

	.proj-txtx {
		padding: 0 .4rem;
	}

	.proj-txtx h4 {
		font-size: 2.5rem;
	}

	.proj-txtx a {
		height: 1.7rem;
		width: 1.7rem;
	}

	.proj-txtx .backgit {
		right: 6rem;
	}
}

@media screen and (max-width: 992px) {
	html {
		font-size: 50%;
	}

	.project p {
		width: auto;
	}

	.aboutme img,
	.aboutme .imgbx {
		width: 30rem;
		height: 30rem;
	}

	.aboutme .abtmerow .pinfo .boxcont .box h3 {
		font-size: 1.5rem;
	}

	.aboutme .abtmerow .pinfo .boxcont .box h3 span {
		font-size: 1.2rem;
	}

	.aboutme button {
		width: 29.5rem;
	}

	.proj-txtx img.projectGit,
	.proj-txtx a {
		bottom: 5px;
	}

	.proj-txtx .backgit {
		right: 6.5rem;
	}
}

@media screen and (max-width: 768px) {
	.project .nav.nav-pills {
		width: 100%;
	}

	.owl-carousel button {
		transform: scale(0.9);
	}

	.aboutme .abtcont {
		display: flex;
		justify-content: center;
	}

	.aboutme p {
		width: auto;
	}

	.aboutme div[data-angel="95"],
	.aboutme div[data-angel="95"] svg,
	.aboutme div[data-angel="85"],
	.aboutme div[data-angel="85"] svg,
	.aboutme div[data-angel="70"],
	.aboutme div[data-angel="70"] svg {
		width: 10rem !important;
		height: 10rem !important;
	}

	.aboutme .abtmerow .pinfo .boxcont .box h3 span {
		min-width: 18rem;
		display: inline-block;
	}

	.proj-txtx a {
		height: 2.5rem;
		width: 2.5rem;
	}

}

@media screen and (max-width: 576px) {
	html {
		font-size: 45%;
	}

	.banner {
		padding: 15rem 6rem;
	}

	.banner h1 {
		font-size: 5rem;
	}

	nav.navbar {
		padding: 2rem 6rem;
	}

	nav svg text {
		font-size: 50px;
		margin-right: -100px;
	}

	section {
		padding: 10px;
	}

	.skill {
		padding: 0 6rem 5rem 6rem;
	}

	.eduwork .skill-bx {
		padding: 6rem 6rem 8rem 6rem;
	}

	.eduwork .rows .cols .box {
		border-left: 2px solid white;
	}

	.background-image-left {
		width: 80%;
		left: -10%;
	}

	.project {
		padding: 8rem 6rem;
	}

	.contact {
		padding: 6rem 6rem 20rem 6rem;
	}

	.footer {
		padding-left: 6rem;
		padding-right: 6rem;
		text-align: center;
	}

	.footer .moremar {
		margin: 0 0 3rem 0;
	}

	.owl-carousel button {
		transform: scale(0.7);
	}

	.social-icon a,
	.social-icon a::before {
		width: 5.6rem;
		height: 5.6rem;
	}

	.aboutme .abtmerow .pinfo .boxcont .box h3 {
		text-align: left;
	}

	.aboutme .abtmerow .pinfo .boxcont .box h3 span {
		min-width: 14rem;
	}

	.aboutme .aboutme-bx {
		padding: 6rem;
	}

	.aboutme button {
		width: 28rem;
		padding: 2rem 3rem;
	}

	.hiddencls {
		padding: 3rem;
	}

	.proj-txtx {
		padding: 0 4rem;
	}

	.proj-txtx h4 {
		font-size: 4rem;
		line-height: 40px;
	}

	.proj-txtx span {
		font-size: 2.5rem;
	}

	.proj-txtx a {
		right: 4rem;
		bottom: 4rem;
		height: 4.7rem;
		width: 4.7rem;
	}

	.proj-txtx a.demo {
		left: 4rem;
	}

	.proj-txtx .backgit {
		right: 11rem;
	}
}

@media screen and (max-width: 470px) {
	html {
		font-size: 40%;
	}

	.aboutme table tr td {
		padding: 2rem 2rem;
	}

	.aboutme button {
		width: 29rem;
		padding: 2rem 3rem;
	}

	.proj-txtx h4 {
		font-size: 3rem;
		line-height: 30px;
	}

	.proj-txtx a {
		height: 3rem;
		width: 3rem;
		right: 3rem;
		bottom: 3rem;
	}

	.proj-txtx .backgit {
		right: 9.5rem;
	}

	.proj-txtx a.demo {
		left: 3rem;
	}

	.aboutme .aboutme-bx {
		margin-top: 0;
	}
	.footer {
		padding: 6rem 0;
	}
	.skill {
		padding: 0 0 5rem 0;
	}
	.skill-bx, .aboutme-bx {
		border-radius: 0;
	}
	.aboutme .boxCont .box {
		flex: 1 1 85px;
	}
}